body {
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}

p.main {
  font-size: 24px;
}

.map {
    position: absolute;
    right: 0px;
    left: 400px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 400px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    font-size: 16px;
}

.legend {
  position: absolute;
  background-color: #fff;
  z-index: 2000;
  padding: 10px;
  right: 20px;
  bottom: 20px;
}

#legend-title {
  margin-top: 0;
  margin-bottom: 10px;
  position: relative;
  font-size: 20px;
}

ul {
  list-style: none;
  padding-left: 10px;
}

li::before {
  padding-right: 10px;
  content: "\25A0";
  font-size: 1.5em;
}

#mon::before {
  color: #FF0000;
}

#tue::before {
  color: #FF9900;
}

#wed::before {
  color: #FFFF00;
}

#thu::before {
  color: #00FF00;
}

#fri::before {
  color: #0000FF;
}
